@model RegistroViewModel
@{
    ViewData["Title"] = "Registrate";
}

@await Html.PartialAsync("_ValidationScriptsPartial")

<h1 style="margin-right: 25rem; margin-left: 25rem; margin-bottom: -23rem">Regístrate</h1>
<div class="card" style="display: flex; justify-content: center; align-items: center; height: 40vh; margin-right: 25rem; margin-left: 25rem">
    <div class="card-boy" >
        
        <form asp-action="Registro" class="formulario_Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button class="btn-primary btn">Registro</button>
            <a class="btn btn-success" asp-action="Login">Iniciar sesión</a>
        </form>

    </div>
</div>

